<%= render "shared/admin/nav", { header_title: "Tiendas" } do %>
  <%= render "shared/admin/create_dropdown" %>
<% end %>

<div class="px-4 mb-16" data-controller="datatable" data-datatable-options-value="<%= @datatable_options %>">
  <div class="container p-2 mx-auto mt-6 overflow-x-auto bg-white border rounded-lg shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
    <table id="datatable-element" class="min-w-full bg-white dark:bg-slate-800">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Id</th>
          <th class="px-4 py-2 text-left">Nombre</th>
          <th class="px-4 py-2 text-left">Dirección</th>
          <th class="px-4 py-2 text-left">Teléfono</th>
          <th class="px-4 py-2 text-left">Correo</th>
          <th class="px-4 py-2 text-left">Estado</th>
          <th class="px-4 py-2 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <td class="px-4 py-2"><%= location.id %></td>
            <td class="px-4 py-2"><%= location.name %></td>
            <td class="px-4 py-2"><%= location.address %></td>
            <td class="px-4 py-2"><%= location.phone %></td>
            <td class="px-4 py-2"><%= location.email %></td>
            <td class="px-4 py-2"><%= location.status %></td>
            <td class="px-4 py-2">
              <%= render partial: "admin/locations/actions", locals: { location: location, default_object_options_array: @default_object_options_array } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>