<%= render "shared/admin/nav", { header_title: "Pagos a Proveedores" } do %>
<% end %>

<div class="px-4 mb-16" data-controller="datatable" data-datatable-options-value="<%= @datatable_options %>">
  <div class="container p-2 mx-auto mt-6 bg-white rounded-lg border shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
    <table id="datatable-element" class="min-w-full bg-white dark:bg-slate-800">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Código</th>
          <th class="px-4 py-2 text-left">Fecha</th>
          <th class="px-4 py-2 text-left">Proveedor</th>
          <th class="px-4 py-2 text-left">Caja</th>
          <th class="px-4 py-2 text-left">Monto</th>
          <th class="px-4 py-2 text-left">Transacción</th>
          <th class="px-4 py-2 text-left">Estado</th>
          <th class="px-4 py-2 text-left">Compra</th>
          <th class="px-4 py-2 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @purchase_payments.each do |payment| %>
          <tr>
            <td class="px-4 py-2"><%= payment.custom_id %></td>
            <td class="px-4 py-2"><%= payment.payment_date&.strftime("%d/%m/%Y") %></td>
            <td class="px-4 py-2">
              <% if payment.payable_type == "Purchases::Purchase" %>
                <%= payment.payable&.vendor&.name %>
              <% elsif payment.payable_type == "Purchases::Vendor" %>
                <%= payment.payable&.name %>
              <% end %>
            </td>
            <td class="px-4 py-2"><%= payment.cashier_shift&.cashier&.name %></td>
            <td class="px-4 py-2"><%= humanized_money_with_symbol(payment.amount) %></td>
            <td class="px-4 py-2"><%= payment.processor_transacion_id %></td>
            <td class="px-4 py-2">
              <% case payment.status %>
              <% when "pending" %>
                <span class="px-2 py-1 text-xs font-semibold text-yellow-800 bg-yellow-100 rounded-full">Pendiente</span>
              <% when "paid" %>
                <span class="px-2 py-1 text-xs font-semibold text-green-800 bg-green-100 rounded-full">Pagado</span>
              <% when "partially_paid" %>
                <span class="px-2 py-1 text-xs font-semibold text-blue-800 bg-blue-100 rounded-full">Pago Parcial</span>
              <% when "cancelled" %>
                <span class="px-2 py-1 text-xs font-semibold text-red-800 bg-red-100 rounded-full">Anulado</span>
              <% end %>
            </td>
            <td class="px-4 py-2"><%= payment.payable&.custom_id %></td>
            <td class="px-4 py-2">
              <%= link_to "Ver", admin_purchase_payment_path(payment), class: "text-indigo-600 hover:text-indigo-900" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
