<%= render "shared/admin/nav", { header_title: "Listas de Precios" } do %>
  <%= render "shared/admin/create_dropdown" %>
<% end %>

<div class="px-4 mb-16" data-controller="datatable" data-datatable-options-value="<%= @datatable_options %>">
  <div class="container p-2 mx-auto mt-6 bg-white rounded-lg border shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
    <table id="datatable-element" class="min-w-full bg-white dark:bg-slate-800">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Nombre</th>
          <th class="px-4 py-2 text-left">Estado</th>
          <th class="px-4 py-2 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @price_lists.each do |price_list| %>
          <tr>
            <td class="px-4 py-2"><%= price_list.name %></td>
            <td class="px-4 py-2">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full <%= price_list.active? ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800' %>">
                <%= price_list.status.titleize %>
              </span>
            </td>
            <td class="px-4 py-2">
              <%= render "actions", price_list: price_list %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
