<%= simple_form_for([:admin, @requisition], html: { data: { controller: "requisition-form", action: "submit->requisition-form#submitForm", requisition_form_target: "form" } }) do |form| %>
  <div class="relative z-50 mb-4">
    <%= form.error_notification %>
    <%= render 'shared/error_messages', resource: @requisition if @requisition.errors.any? %>
  </div>

  <%= hidden_field_tag :debug_commit_value, '', data: { requisition_form_target: "debugCommit" } %>
  
  <!-- Header Section -->
  <div class="p-6 mb-2 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-slate-800 dark:border-slate-700">

    <div class="grid items-center grid-cols-1 gap-6 sm:grid-cols-3 sm:gap-x-8 sm:gap-y-10">
      <!-- Requisition Date -->
      <div>
        <%= form.label :requisition_date, "Fecha de Pedido", class: "form-label" %>
        <%= form.datetime_local_field :requisition_date, class: "form-input" %>
      </div>

      <!-- Location -->
      <div>
        <%= form.label :location_id, "Ubicación", class: "form-label" %>
        <%= form.collection_select :location_id, @origin_locations, :id, :name, {}, class: "form-input" %>
      </div>

      <!-- Warehouse -->
      <div>
        <%= form.label :warehouse_id, "Almacén", class: "form-label" %>
        <%= form.collection_select :warehouse_id, @requisition_warehouses, :id, :name, {}, class: "form-input" %>
      </div>
    </div>

    <!-- Comments Field -->
    <div class="mt-4" data-controller="collapsible-field">
      <div class="flex items-center cursor-pointer" data-action="click->collapsible-field#toggle">
        <%= form.label :comments, "Comentarios", class: "form-label mr-2 mb-0" %>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition-transform duration-200 transform" data-collapsible-field-target="arrow" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </div>
      <div class="hidden mt-2" data-collapsible-field-target="content">
        <%= form.text_area :comments, class: "form-input w-full" %>
      </div>
    </div>
  </div>

  <!-- Products Section -->
  <div class="p-2 mt-8 mb-8 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-slate-800 dark:border-slate-700">
    <h3 class="mb-4 text-lg font-semibold text-slate-900 dark:text-slate-100">Productos</h3>
    <div id="requisition-form-lines" data-requisition-form-target="lines">
      <%= form.simple_fields_for :requisition_lines, @requisition_lines do |line_form| %>
        <%= render 'requisition_line_fields', f: line_form, all_products: @all_products %>
      <% end %>
    </div>

    <!-- Add Product Button (always visible) -->
    <div class="flex justify-end mt-4">
      <button type="button" class="flex items-center px-3 py-2 text-sm font-medium text-white bg-green-600 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" data-action="click->requisition-form#add">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
        Agregar Producto
      </button>
    </div>

    <template data-requisition-form-target="template">
      <%= form.simple_fields_for :requisition_lines, RequisitionLine.new, child_index: 'NEW_RECORD' do |line_form| %>
        <%= render 'requisition_line_fields', f: line_form, all_products: @all_products %>
      <% end %>
    </template>
  </div>

  <!-- Form Actions -->
  <div class="flex items-center py-6 mt-10 space-x-4 border-t dark:border-slate-600">
    <% if @current_warehouse.is_main? && @requisition.req_submitted? %>
      <button type="submit" 
          name="commit" 
          value="plan" 
          class="btn btn-primary"
          data-action="click->requisition-form#logCommit">
        Planificar Pedido
      </button>
    <% elsif current_user.has_any_role?("store", "store_manager") %>
      <% if @requisition.req_draft? %>
        <button type="submit" 
            name="commit" 
            value="save_draft" 
            class="mr-2 btn btn-secondary"
            data-action="click->requisition-form#logCommit">
          Guardar como Borrador
        </button>
        <button type="submit" 
            name="commit" 
            value="submit_to_warehouse" 
            class="btn btn-primary"
            data-action="click->requisition-form#logCommit">
          Enviar Pedido a Almacén Principal
        </button>
      <% else %>
        <button type="submit" 
                name="commit" 
                value="update" 
                class="btn btn-primary"
                data-action="click->requisition-form#logCommit">
          Actualizar Pedido
        </button>
      <% end %>
    <% else %>
      <button type="submit" 
              name="commit" 
              value="update" 
              class="btn btn-primary"
              data-action="click->requisition-form#logCommit">
        <%= @requisition.new_record? ? "Crear Pedido" : "Actualizar Pedido" %>
      </button>
      <button type="submit" 
            name="commit" 
            value="submit_to_warehouse" 
            class="btn btn-primary"
            data-action="click->requisition-form#logCommit">
        Enviar Pedido a Almacén Principal
      </button>
    <% end %>
    
    <%= link_to "Cancelar", admin_requisitions_path, 
        class: "font-medium text-slate-600 hover:text-primary-600 text-sm px-2 py-2 dark:text-slate-400 dark:hover:text-primary-400" %>
  </div>
<% end %>
