<div class="flex items-center w-full mb-4 space-x-4 nested-fields" data-new-record="<%= f.object.new_record? %>">
  <!-- Product Field -->
  <div class="flex items-center w-1/3">
    <select data-controller="select"
            data-select-model-value="Product"
            data-select-multi-select-value="false"
            data-select-placeholder-value="Selecciona un producto"
            name="<%= f.object_name %>[product_id]" 
            class="w-full form-input">
      <option value="" <%= 'selected' if f.object.product_id.blank? %>>Selecciona un producto</option>
      <% Product.all.each do |product| %>
        <option value="<%= product.id %>" <%= 'selected' if f.object.product_id == product.id %>><%= product.name %></option>
      <% end %>
    </select>
  </div>

  <!-- Quantity Fields Container -->
  <div class="flex items-center w-2/3 space-x-4">
    <div class="flex items-center justify-end w-1/4">
      <%= f.label :current_stock, "Stock Actual", class: "form-label mr-1 text-right text-sm whitespace-nowrap", readonly: true, tabindex: -1 %>
      <%= f.number_field :current_stock, class: "form-input w-16 text-sm no-spinner", step: 1, readonly: true, tabindex: -1 %>
    </div>
    <!-- Automatic Quantity Field -->
    <div class="flex items-center justify-end w-1/4">
      <%= f.label :automatic_quantity, "Sugerido", class: "form-label mr-1 text-right text-sm whitespace-nowrap", readonly: true, tabindex: -1 %>
      <%= f.number_field :automatic_quantity, class: "form-input w-16 text-sm no-spinner", step: 1, readonly: true, tabindex: -1 %>
    </div>

    <!-- Presold Quantity Field -->
    <div class="flex items-center justify-end w-1/4">
      <%= f.label :presold_quantity, "Prevendido", class: "form-label mr-1 text-right text-sm whitespace-nowrap", readonly: true, tabindex: -1 %>
      <%= f.number_field :presold_quantity, class: "form-input w-16 text-sm no-spinner", step: 1, readonly: true, tabindex: -1 %>
    </div>

    <!-- Manual Quantity Field -->
    <div class="flex items-center justify-end w-1/4">
      <%= f.label :manual_quantity, "A pedir", class: "form-label mr-1 text-right text-sm whitespace-nowrap" %>
      <%= f.number_field :manual_quantity, class: "form-input w-16 text-sm no-spinner", step: 1 %>
    </div>

    <!-- Action Buttons -->
    <div class="flex items-center justify-end w-1/6 space-x-2">
      <!-- Remove Product Button -->
      <button type="button" class="p-1 text-red-500 hover:text-red-700" data-action="click->requisition-form#remove">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" />
        </svg>
      </button>

      <!-- Add Product Button -->
      <button type="button" class="p-1 text-green-500 hover:text-green-700" data-action="click->requisition-form#add">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </button>
    </div>
  </div>
</div>