<%= render "shared/admin/nav", { header_title: "Pedidos" } do %>
  <%= render "shared/admin/create_dropdown" %>
<% end %>

<div class="px-4 mb-16" data-controller="datatable" data-datatable-options-value="<%= @datatable_options %>">
  <div class="container p-2 mx-auto mt-6 overflow-x-auto bg-white border rounded-lg shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
    <table id="datatable-element" class="min-w-full bg-white dark:bg-slate-800">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Fecha</th>
          <th class="px-4 py-2 text-left">Código</th>
          <th class="px-4 py-2 text-left">Usuario</th>
          <th class="px-4 py-2 text-left">Ubicación</th>
          <th class="px-4 py-2 text-left">Almacén</th>
          <th class="px-4 py-2 text-left">Total Productos</th>
          <th class="px-4 py-2 text-left">Tipo</th>
          <th class="px-4 py-2 text-left">Etapa</th>
          <th class="px-4 py-2 text-left">Estado</th>
          <th class="px-4 py-2 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @requisitions.each do |requisition| %>
          <tr>
            <td class="px-4 py-2"><%= friendly_date(current_user, requisition.requisition_date) %></td>
            <td class="px-4 py-2"><%= requisition.custom_id %></td>
            <td class="px-4 py-2"><%= requisition.user&.name %></td>
            <td class="px-4 py-2"><%= requisition.location&.name %></td>
            <td class="px-4 py-2"><%= requisition.warehouse&.name %></td>
            <td class="px-4 py-2"><%= requisition.total_products %></td>
            <td class="px-4 py-2"><%= requisition.requisition_type %></td>
            <td class="px-4 py-2"><%= requisition.stage %></td>
            <td class="px-4 py-2"><%= requisition.status %></td>
            <td class="px-4 py-2">
              <%= link_to 'Ver', admin_requisition_path(requisition), class: 'text-indigo-600 hover:text-indigo-900' %>
              <%= link_to 'Editar', edit_admin_requisition_path(requisition), class: 'text-indigo-600 hover:text-indigo-900 ml-2' %>
              <% if requisition.pending? %>
                <%= link_to 'Cumplir', fulfill_admin_requisition_path(requisition), method: :patch, data: { confirm: '¿Estás seguro de que quieres cumplir este pedido?' }, class: 'text-green-600 hover:text-green-900 ml-2' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>