<tr class="purchase-order-line">
  <td class="px-6 py-4 whitespace-nowrap">
    <%= f.collection_select :product_id, 
        Product.all, 
        :id, 
        :name, 
        { prompt: "Seleccionar Producto" }, 
        { 
          class: "form-input block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500", 
          data: { 
            controller: "select",
            action: "change->purchase-order-form#updateLineTotal",
            select_placeholder_value: "Seleccionar Producto",
            select_dropdown_parent: "body"
          },
          style: "z-index: 1000;"
        } 
    %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= f.number_field :quantity, min: 1, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500", data: { action: "change->purchase-order-form#updateLineTotal" } %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= f.text_field :unit_price, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500", data: { action: "change->purchase-order-form#updateLineTotal" } %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap line-total">
    <%= humanized_money_with_symbol(f.object.total_price) if f.object.persisted? %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <% if f.object.persisted? %>
      <%= f.hidden_field :_destroy %>
      <%= link_to "Eliminar", "#", class: "text-red-600 hover:text-red-900", data: { action: "click->purchase-order-form#removeLine" } %>
    <% else %>
      <%= link_to "Eliminar", "#", class: "text-red-600 hover:text-red-900", data: { action: "click->purchase-order-form#removeLine" } %>
    <% end %>
  </td>
</tr>
