<%= render "shared/admin/nav", { header_title: "Venta Anulada" } do %>
  <%= render "shared/admin/location_dropdown" %>
<% end %>

<div class="container px-4 py-8 mx-auto">
  <div class="mb-6">
    <%= link_to admin_voided_orders_path, 
        class: "text-gray-600 hover:text-gray-900 flex items-center" do %>
      <i class="mr-2 fas fa-arrow-left"></i> Volver a la lista
    <% end %>
  </div>

  <div class="overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">
        Venta Anulada: <%= @voided_order.original_order_custom_id %>
      </h3>
    </div>

    <div class="px-4 py-5 border-t border-gray-200 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Ubicación</dt>
          <dd class="mt-1 text-sm text-gray-900"><%= @voided_order.location.name %></dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Usuario que anuló</dt>
          <dd class="mt-1 text-sm text-gray-900"><%= @voided_order.user.name %></dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Fecha de Venta Original</dt>
          <dd class="mt-1 text-sm text-gray-900"><%= l @voided_order.original_order_order_date, format: :long %></dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Fecha de anulación</dt>
          <dd class="mt-1 text-sm text-gray-900"><%= l @voided_order.voided_at, format: :long %></dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Razón</dt>
          <dd class="mt-1 text-sm text-gray-900"><%= @voided_order.void_reason.presence || "-" %></dd>
        </div>

        <% if @voided_order.invoice_list.present? %>
          <div class="sm:col-span-2">
            <dt class="text-sm font-medium text-gray-500">Facturas asociadas</dt>
            <dd class="mt-1 text-sm text-gray-900"><%= @voided_order.invoice_list %></dd>
          </div>
        <% end %>
      </dl>
    </div>

    <div class="border-t border-gray-200">
      <div class="px-4 py-5 sm:px-6">
        <h4 class="text-lg font-medium text-gray-900">Detalles de la Venta Original</h4>
      </div>

      <div class="px-4 py-5 sm:px-6">
        <h5 class="mb-4 font-medium text-gray-900 text-md">Productos</h5>
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Producto</th>
                <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Cantidad</th>
                <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Precio</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @order_data["order_items"].each do |item| %>
                <tr>
                  <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"><%= Product.find(item["product_id"])&.name %></td>
                  <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"><%= item["quantity"] %></td>
                  <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                    <%= number_to_currency(item["price_cents"].to_f / 100, unit: "S/") %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="border-t border-gray-200">
        <div class="px-4 py-5 sm:px-6">
          <h4 class="text-lg font-medium text-gray-900">Información del Cliente</h4>
          <% if @order_data["customer"].present? %>
            <dl class="grid grid-cols-1 mt-4 gap-x-4 gap-y-6 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Nombre</dt>
                <dd class="mt-1 text-sm text-gray-900"><%= @order_data["customer"]["full_name"] %></dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Email</dt>
                <dd class="mt-1 text-sm text-gray-900"><%= @order_data["customer"]["email"] %></dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Teléfono</dt>
                <dd class="mt-1 text-sm text-gray-900"><%= @order_data["customer"]["phone"] || "-" %></dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">DNI</dt>
                <dd class="mt-1 text-sm text-gray-900"><%= @order_data["customer"]["dni"] || "-" %></dd>
              </div>

              <% if @order_data["customer"]["ruc"].present? %>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">RUC</dt>
                  <dd class="mt-1 text-sm text-gray-900"><%= @order_data["customer"]["ruc"] %></dd>
                </div>

                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500">Razón Social</dt>
                  <dd class="mt-1 text-sm text-gray-900"><%= @order_data["customer"]["business_name"] %></dd>
                </div>
              <% end %>

              <% if @order_data["customer"]["address"].present? %>
                <div class="sm:col-span-2">
                  <dt class="text-sm font-medium text-gray-500">Dirección</dt>
                  <dd class="mt-1 text-sm text-gray-900"><%= @order_data["customer"]["address"] %></dd>
                </div>
              <% end %>
            </dl>
          <% else %>
            <p class="mt-2 text-sm text-gray-500">No hay información del cliente disponible</p>
          <% end %>
        </div>
      </div>

      <% if @order_data["payments"].present? %>
        <div class="px-4 py-5 border-t border-gray-200 sm:px-6">
          <h5 class="mb-4 font-medium text-gray-900 text-md">Pagos</h5>
          <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">ID Pago</th>
                  <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Monto</th>
                  <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Fecha</th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <% @order_data["payments"].each do |payment_data| %>
                  <% payment = payment_data["payment"] %>
                  <tr>
                    <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"><%= payment["custom_id"] %></td>
                    <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                      <%= number_to_currency(payment["amount_cents"].to_f / 100, unit: "S/") %>
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                      <%= l Time.zone.parse(payment["payment_date"]), format: :short %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>

      <% if @order_data["commissions"].present? %>
        <div class="border-t border-gray-200">
          <div class="px-4 py-5 sm:px-6">
            <h4 class="text-lg font-medium text-gray-900">Comisiones</h4>
            <div class="mt-4 overflow-x-auto">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Vendedor</th>
                    <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Estado</th>
                    <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Porcentaje</th>
                    <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Monto de Venta</th>
                    <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Monto Comisión</th>
                    <th class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">Fecha</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <% @order_data["commissions"].each do |commission| %>
                    <tr>
                      <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                        <%= User.find(commission["user_id"])&.name %>
                      </td>
                      <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                        <%= commission["status"].humanize %>
                      </td>
                      <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                        <%= number_to_percentage(commission["percentage"], precision: 0) %>
                      </td>
                      <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                        <%= number_to_currency(commission["sale_amount_cents"].to_f / 100, unit: "S/") %>
                      </td>
                      <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                        <%= number_to_currency(commission["amount_cents"].to_f / 100, unit: "S/") %>
                      </td>
                      <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                        <%= l Time.zone.parse(commission["created_at"]), format: :short %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>