<div data-controller="object-actions-dropdown" class="relative">
  <button data-action="click->object-actions-dropdown#toggle click@window->object-actions-dropdown#hide"
    class="p-2 rounded-lg focus:ring-4 focus:ring-primary-50 dark:focus:ring-slate-600/50">
      <%= icon "cog-6-tooth", classes: "w-6 h-6 stroke-current text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
  </button>
  <ul data-object-actions-dropdown-target="menu"
    class="hidden absolute right-0 top-10 bg-white rounded-lg shadow-xl dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 w-[200px] z-50 py-2">
    <ul>
      <% default_object_options_array.each do |option| %>
        
        <% unless user&.email == "generic_customer@devtechperu.com" %>
          <li>
            <% if option[:event_name] == 'edit' %>
              <%= link_to edit_admin_customer_path(user), class: "px-4 py-[.4rem] group flex items-center justify-start space-x-3" do %>
                <%= icon option[:icon], classes: "stroke-current w-5 h-5 text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
                <span><%= option[:label] %></span>
              <% end %>
            <% elsif option[:event_name] == 'delete' %>
              <%= link_to admin_customer_path(user), data: { turbo_method: :delete, turbo_confirm: 'Está seguro?' }, class: "px-4 py-[.4rem] group flex items-center justify-start space-x-3" do %>
                <%= icon option[:icon], classes: "stroke-current w-5 h-5 text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
                <span><%= option[:label] %></span>
              <% end %>
            <% else %>
              <%= link_to '#', data: { action: "click->object-actions-dropdown#handleAction", object_id: user.id, event_name: option[:event_name], object_model: "user" }, class: "px-4 py-[.4rem] group flex items-center justify-start space-x-3" do %>
                <%= icon option[:icon], classes: "stroke-current w-5 h-5 text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
                <span><%= option[:label] %></span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% end %>
      
      <% if $global_settings[:pos_can_create_unpaid_orders] && user&.email != "generic_customer@devtechperu.com" %>
        <li>
          <%= link_to admin_account_receivables_path(user_id: user.id), class: "px-4 py-[.4rem] group flex items-center justify-start space-x-3" do %>
            <%= icon "credit-card", classes: "stroke-current w-5 h-5 text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
            <span>Estado de Cuenta</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </ul>
</div>