<%= simple_form_for([:admin, @user], html: { data: { controller: "customer-form" } }) do |form| %>
  <div class="grid items-center grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-x-16 sm:gap-y-10">

    <%# Fields for associated Customer record %>
    <%= form.simple_fields_for :customer do |customer_form| %>
      <div class="col-span-2">
        <!-- Use a flex container to display items side by side -->
        <div class="flex space-x-4">
          
          <!-- Input for doc_type -->
          <div class="flex-1">
            <%= customer_form.input :doc_type, 
              label: "Tipo de Doc", 
              collection: Customer.doc_types.keys.map { |doc_type| [doc_type.titleize, doc_type] }, 
              input_html: { 
                class: "form-input", 
                data: { action: "customer-form#handleDocTypeChange", customer_form_target: "docType" } 
              }, 
              label_html: { class: "form-label" } %>
          </div>

          <!-- Input for doc_id -->
          <div class="flex-1">
            <%= customer_form.input :doc_id, 
              label: "Número de Documento", 
              input_html: { 
                class: "form-input", 
                data: { action: "blur->customer-form#fetchCustomerData", customer_form_target: "docId" } 
              }, 
              label_html: { class: "form-label" } %>
          </div>

          <!-- Input for birthdate -->
          <div class="flex-1">
            <%= customer_form.input :birthdate, 
              as: :string,
              label: "Fecha de Nacimiento", 
              input_html: { 
                class: "form-input", 
                data: { customer_form_target: "birthDate" } 
              }, 
              label_html: { class: "form-label" } %>
          </div>
        
        </div>
      </div>
    <% end %>
    
    <div>
      <%= form.input :email, label: "Email", input_html: { class: "form-input" }, label_html: { class: "form-label" } %>
    </div>

    <div>
      <%= form.input :phone, label: "Móvil", input_html: { class: "form-input" }, label_html: { class: "form-label" } %>
    </div>

    <div class="col-span-2">
      <%= form.input :first_name, 
        label: "Nombres", 
        input_html: { 
          class: "form-input", 
          data: { customer_form_target: "firstName" } 
        }, 
        label_html: { class: "form-label" } %>
    </div>

    <div>
      <%= form.input :last_name, 
        label: "Apellidos", 
        input_html: { 
          step: 1, 
          class: "form-input", 
          data: { customer_form_target: "lastName" }
        }, 
        label_html: { class: "form-label" } %>
    </div>

    <div>
      <%= form.input :status, 
        label: "Estado", 
        collection: User.statuses.keys.map { |status| [status.titleize, status] }, 
        input_html: { class: "form-input" }, 
        label_html: { class: "form-label" } %>
    </div>

  </div>

  <div class="flex items-center py-6 mt-10 space-x-4 border-t dark:border-slate-600">
    <%= form.button :submit, @user.new_record? ? "Crear Usuario" : "Grabar Usuario", class: "btn btn-primary" %>
    <%= link_to "Cancelar", admin_customers_path, class: "font-medium text-slate-600 hover:text-primary-600 text-sm px-2 py-2 dark:text-slate-400 dark:hover:text-primary-400" %>
  </div>
<% end %>