<%= render "shared/admin/nav", { header_title: "Ventas#{@current_location ? " - #{@current_location.name}" : ''}" } do %>
  <%= render "shared/admin/location_dropdown" %>
  <%= render "shared/admin/create_dropdown" %>
<% end %>

<div class="px-4 mb-16" data-controller="datatable" data-datatable-options-value="<%= @datatable_options %>">
  <div class="container p-2 mx-auto mt-6 bg-white border rounded-lg shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
    <table id="datatable-element" class="min-w-full bg-white dark:bg-slate-800">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">ID</th>
          <% if current_user.any_admin_or_supervisor? %>
            <th class="px-4 py-2 text-left">Tienda</th>
          <% end %>
          <th class="px-4 py-2 text-left">Número</th>
          <th class="px-4 py-2 text-left">Fecha</th>
          <th class="px-4 py-2 text-left">Comprador</th>
          <th class="px-4 py-2 text-left">Total</th>
          <th class="px-4 py-2 text-left">Total Original</th>
          <th class="px-4 py-2 text-left">Descuento</th>
          <th class="px-4 py-2 text-left">Comprobante</th>
          <th class="px-4 py-2 text-left">XML Comprobante</th>
          <th class="px-4 py-2 text-left">Estado Pago</th>
          <th class="px-4 py-2 text-left">Estado</th>
          <th class="px-4 py-2 text-left">Ver</th>
          <% if current_user.any_admin_or_supervisor? %>
            <th class="px-4 py-2 text-left">Editar</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td class="px-4 py-2"><%= order.id %></td>
            <% if current_user.any_admin_or_supervisor? %>
              <td class="px-4 py-2"><%= order.location.name %></td>
            <% end %>
            <td class="px-4 py-2"><%= order.custom_id %></td>
            <td class="px-4 py-2"><%= friendly_date(current_user, order.order_date) %></td>
            <td class="px-4 py-2"><%= order&.customer&.name %></td>
            <td class="px-4 py-2"><%= format_currency(order.total_price) %></td>
            <td class="px-4 py-2"><%= format_currency(order.total_original_price) %></td>
            <td class="px-4 py-2"><%= format_currency(order.total_discount) %></td>
            <td class="px-4 py-2"><%= show_invoice_actions(order, "pdf") %></td>
            <td class="px-4 py-2"><%= show_invoice_actions(order, "xml") %></td>
            <td class="px-4 py-2"><%= order.translated_payment_status %></td>
            <td class="px-4 py-2"><%= order.translated_status %></td>
            <td class="px-4 py-2">
              <%= link_to admin_order_path(order), class: "px-4 py-[.4rem] group flex items-center justify-start space-x-3" do %>
                <%= icon "eye", classes: "stroke-current w-5 h-5 text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
              <% end %>
            </td>
            <% if current_user.any_admin_or_supervisor? %>
              <td class="px-4 py-2">
                <%= link_to edit_admin_order_path(order), class: "px-4 py-[.4rem] group flex items-center justify-start space-x-3" do %>
                  <%= icon "pencil", classes: "stroke-current w-5 h-5 text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>