<%= render "shared/admin/nav", { header_title: "Ventas - #{@current_location&.name}" } do %>
  <%= render "shared/admin/create_dropdown" %>
<% end %>

<div class="px-4 mb-16" data-controller="datatable" data-datatable-options-value="<%= @datatable_options %>">
  <div class="container p-2 mx-auto mt-6 bg-white border rounded-lg shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
    <table id="datatable-element" class="min-w-full bg-white dark:bg-slate-800">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Número</th>
          <th class="px-4 py-2 text-left">Fecha</th>
          <th class="px-4 py-2 text-left">Comprador</th>
          <th class="px-4 py-2 text-left">Total</th>
          <th class="px-4 py-2 text-left">Descuento</th>
          <th class="px-4 py-2 text-left">Comprobante</th>
          <th class="px-4 py-2 text-left">Estado Pago</th>
          <th class="px-4 py-2 text-left">Estado</th>
          <th class="px-4 py-2 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td class="px-4 py-2"><%= order.id %></td>
            <td class="px-4 py-2"><%= order.order_date %></td>
            <td class="px-4 py-2"><%= order.customer&.name %></td>
            <td class="px-4 py-2"><%= number_to_currency(order.total_price, unit: 'S/') %></td>
            <td class="px-4 py-2"><%= number_to_currency(order.total_discount, unit: 'S/') %></td>
            <td class="px-4 py-2"><%= order.active_invoice_id %></td>
            <td class="px-4 py-2"><%= order.translated_payment_status %></td>
            <td class="px-4 py-2"><%= order.translated_status %></td>
            <td class="px-4 py-2">
              <div data-controller="dropdown" class="relative">
                <button data-action="click->dropdown#toggle click@window->dropdown#hide"
                  class="p-2 rounded-lg focus:ring-4 focus:ring-primary-50 dark:focus:ring-slate-600/50">
                    <%= icon "cog-6-tooth", classes: "w-6 h-6 stroke-current text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
                </button>
                <ul data-dropdown-target="menu"
                  class="hidden absolute right-0 top-10 bg-white rounded-lg shadow-xl dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 w-[200px] z-50 py-2">
                  <% @default_object_options_array.each do |option| %>
                    <li>
                      <%= link_to "#", data: { action: "click->dropdown#handleAction", object_id: order.id, event_name: option[:event_name] }, class: "px-4 py-[.4rem] group flex items-center justify-start space-x-3" do %>
                        <%= icon option[:icon], classes: "stroke-current w-5 h-5 text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
                        <span><%= option[:label] %></span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>