<% if @current_location.present? %>
  <%= render "shared/admin/nav", { header_title: "Nueva Venta - #{@current_location&.name}" } do %>
    <div class="flex gap-4 items-center">
      <% if current_user.any_admin? %>
        <div class="flex items-center">
          <input
            type="datetime-local"
            id="pos-order-date"
            class="px-3 py-2 w-48 text-sm rounded-md border focus:outline-none focus:ring-2 focus:ring-blue-500"
            value="<%= Time.current.strftime('%Y-%m-%dT%H:%M') %>"
            max="<%= Time.current.strftime('%Y-%m-%dT%H:%M') %>"
          >
        </div>
      <% end %>
      <%= render "shared/admin/location_dropdown" %>
    </div>
  <% end %>

  <div id="max-price-discount-percentage" data-value="<%= $global_settings[:feature_flag_max_discount_per_location] && @current_location&.max_discount.present? ? @current_location.max_discount : Setting.find_by(name: :max_price_discount_percentage).get_value %>" style="display: none;"></div>

  <div id="max-total-sale-without-customer" data-value="<%= $global_settings[:max_total_sale_without_customer] %>" style="display: none;"></div>

  <!-- Container to adjust layout for mobile and desktop -->
  <div class="flex flex-col lg:flex-row h-[calc(100vh-180px)] text-black bg-white dark:bg-black dark:text-white" data-controller="pos--payment" data-pos--payment-can-create-unpaid-orders="<%= @can_create_unpaid_orders %>" data-credit-payment-method-id="<%= PaymentMethod.find_by(name: 'credit')&.id %>">

    <!-- Product Grid and Payment Container Section (on top for mobile, on right for desktop) -->
    <div class="order-first p-4 w-full bg-gray-200 dark:bg-gray-900 lg:w-1/2 lg:order-last lg:h-full lg:overflow-y-auto">

      <%= render "admin/orders/pos/product_grid" %>
      <%= render "admin/orders/pos/payment_container" %>

    </div>

    <!-- Order and Keypad Section (full width on mobile, left half on desktop) -->
    <div class="flex flex-col p-3 w-full h-full bg-gray-100 lg:w-1/2 dark:bg-gray-800">
      
      <%= render "admin/orders/pos/order_item_list" %>
      <%= render "admin/orders/pos/pos_buttons_container" %>
      <%= render "admin/orders/pos/loyalty_info_container" %>
      <%= render "admin/orders/pos/keypad_container" %>

    </div>

  </div>

  <%= render 'admin/orders/pos/post_sale_modal' %>

  <%= audio_tag "barcode-add-sound.mp3", id: "barcode-add-sound", preload: 'auto' %>
<% else %>
  <%= render "shared/admin/nav", { header_title: "Debe seleccionar una ubicación" } do %>
    <%= render "shared/admin/location_dropdown" %>
  <% end %>
<% end %>
