<%= render "shared/admin/nav", { header_title: "Nuevo Pago" } do %>
  <%= link_to 'Volver a Pagos', admin_payments_path, class: 'btn btn-secondary' %>
<% end %>

<div class="px-4 mx-auto mt-8 md:px-10">
  <% if @account_receivable.present? %>
    <div class="p-4 mb-6 text-green-700 bg-green-100 rounded-md border border-green-200">
      <p class="mb-2">
        <strong>Nota:</strong> Este pago será aplicado a la siguiente cuenta por cobrar:
      </p>
      <ul class="ml-4 list-disc">
        <li><strong>ID:</strong> #<%= @account_receivable.id %></li>
        <li><strong>Cliente:</strong> <%= @account_receivable.user.name %></li>
        <li><strong>Fecha de creación:</strong> <%= l(@account_receivable.created_at, format: :short) %></li>
        <li><strong>Fecha de vencimiento:</strong> <%= l(@account_receivable.due_date, format: :short) if @account_receivable.due_date.present? %></li>
        <li><strong>Monto total:</strong> <%= humanized_money_with_symbol @account_receivable.amount %></li>
        <li><strong>Saldo pendiente:</strong> <%= humanized_money_with_symbol @account_receivable.remaining_balance %></li>
        <% if @account_receivable.description.present? %>
          <li><strong>Descripción:</strong> <%= @account_receivable.description %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for([:admin, @payment]) do |form| %>
    <%= render 'shared/form_errors', model: @payment %>
    
    <div data-controller="" class="grid grid-cols-3 gap-6">
      <!-- User Selection -->
      <div>
        <%= form.association :user,
            collection: @customer_users,
            label: "Cliente",
            prompt: "Seleccione cliente",
            input_html: { 
              class: "form-input",
              data: {
                controller: "select",
                action: "change->payment-form#userChanged",
                payment_form_target: "userSelect",
                select_placeholder_value: "Seleccione cliente"
              }
            },
            label_html: { class: "form-label" } %>
      </div>

      <!-- Payment Method Selection -->
      <div>
        <%= form.association :payment_method,
            collection: @elligible_payment_methods.map { |pm| [pm.description, pm.id] },
            label: "Método de Pago",
            prompt: "Seleccione método de pago",
            input_html: { 
              class: "form-input",
              data: { 
                controller: "select",
                select_placeholder_value: "Seleccione método de pago"
              }
            },
            label_html: { class: "form-label" } %>
      </div>

      <!-- Amount Field -->
      <div>
        <%= form.input :amount,
            label: "Monto en S/",
            as: :decimal,
            input_html: { 
              step: 0.01,
              class: "form-input",
              min: 0,
              readonly: @payment.amount.present?
            },
            label_html: { class: "form-label" } %>
      </div>
    </div>

    <!-- Created at Date Field and Cashier Shift selection - side by side -->
    <% if current_user.any_admin_or_supervisor? %>
      <div class="grid grid-cols-1 gap-4 mt-6 md:grid-cols-2">
        <div>
          <%= form.association :cashier_shift,
              collection: @open_cashier_shifts,
              label: "Turnos de Caja Abiertos",
              prompt: "Seleccione turno de caja",
              label_method: lambda { |shift| "#{shift.cashier.name}" },
              input_html: { 
                class: "form-input",
                data: {
                  controller: "select",
                  select_placeholder_value: "Seleccione turno de caja"
                }
              },
              label_html: { class: "form-label" } %>
        </div>
        <div>
          <%= form.label :payment_date, "Fecha de Pago", class: "form-label" %>
          <div class="relative" data-controller="payment-date-picker">
            <%= form.text_field :payment_date,
                value: Time.current.strftime('%Y-%m-%dT%H:%M'),
                class: "form-input w-full",
                type: "datetime-local",
                data: { payment_date_picker_target: "input" } %>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Comments -->
    <div class="mt-6">
      <%= form.input :comment,
        label: "Comentarios",
        as: :text,
        input_html: { 
          class: "form-input w-full",
          rows: 3
        },
        label_html: { class: "form-label" } %>
    </div>

    <div class="flex items-center py-6 mt-10 space-x-4 border-t dark:border-slate-600">
      <%= form.button :submit, "Crear Pago", class: "btn btn-primary" %>
      <%= link_to "Cancelar", 
          admin_payments_path, 
          class: "font-medium text-slate-600 hover:text-primary-600 text-sm px-2 py-2 dark:text-slate-400 dark:hover:text-primary-400" %>
    </div>
  <% end %>
</div>