<%= render "shared/admin/nav", { header_title: "Métodos de Pago" } do %>
  <%= render "shared/admin/create_dropdown" %>
<% end %>


<div class="px-4 mb-16" data-controller="datatable" data-datatable-options-value="<%= @datatable_options %>">
  <div class="container p-2 mx-auto mt-6 bg-white border rounded-lg shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
    <table id="datatable-element" class="min-w-full bg-white dark:bg-slate-800">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Nombre</th>
          <th class="px-4 py-2 text-left">Descripción</th>
          <% if $global_settings[:feature_flag_bank_cashiers_active] %>
            <th class="px-4 py-2 text-left">Tipo</th>
          <% end %>
          <th class="px-4 py-2 text-left">Estado</th>
          <th class="px-4 py-2 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @payment_methods.each do |payment_method| %>
          <tr>
            <td class="px-4 py-2"><%= payment_method.name %></td>
            <td class="px-4 py-2"><%= payment_method.description %></td>
            <% if $global_settings[:feature_flag_bank_cashiers_active] %>
              <td class="px-4 py-2"><%= payment_method.translated_payment_method_type %></td>
            <% end %>
            <td class="px-4 py-2"><%= payment_method.translated_status %></td>
            <td class="px-4 py-2">
              <%= render partial: "admin/payment_methods/actions", locals: { payment_method: payment_method, default_object_options_array: @default_object_options_array } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>