<p>Gracias por su compra em Jardín del Zen</p>

<p>Adjuntamos el comprobante de pago por la compra indicada a continuación:</p>

<%= spacer(16) %>

<table class="mb-0">
  <tbody>
    <tr>
      <td>
        Venta #<%= @order.custom_id %>
      </td>
      <td align="right">
        <%= @order.order_date.strftime("%d/%m/%Y") %>
      </td>
    </tr>
  </tbody>
</table>

<hr />

<%= spacer(16) %>

<%= link_to "Ver comprobante", @invoice_link, target: :_blank %>

<p>Gracias!</p>

<%= spacer(16) %>
