<%= simple_form_for([:admin, @product]) do |form| %>
  <%= render 'shared/form_errors', model: @product %>
  <div class="grid grid-cols-1 gap-6 items-center sm:grid-cols-2 sm:gap-x-16 sm:gap-y-10">

    <div>
      <%= form.input :name, label: "Nombre", input_html: { class: "form-input" }, label_html: { class: "form-label" } %>
    </div>

    <!-- Description Field -->
    <div class="col-span-2">
      <%= form.input :description, label: "Descripción", as: :text, input_html: { class: "form-input" }, label_html: { class: "form-label" } %>
    </div>
    
    <!-- Media Upload Section -->
    <div class="col-span-2" data-controller="uppy-upload" data-existing-files="<%= @product.media.map { |media| media.file }.to_json %>">
      <h3 class="mb-4 text-lg font-semibold">Añadir Media</h3>
      <div data-uppy-upload-target="previewContainer">
        <!-- Uppy Dashboard will be rendered here -->
      </div>
    </div>

    <div>
      <%= form.input :price, label: "Precio", as: :decimal, input_html: { step: 1, class: "form-input" }, label_html: { class: "form-label" } %>
    </div>

    <% if $global_settings[:feature_flag_price_lists] %>
      <!-- Price Lists Section -->
      <div class="col-span-2" id="price_lists">
        <%= render 'price_list_items', form: true %>
      </div>
    <% end %>

    <div>
      <%= form.association :brand, label: "Marca", prompt: "Selecciona la marca", input_html: { class: "form-input" }, label_html: { class: "form-label" } %>
    </div>

    <div>
      <%= form.input :is_test_product, as: :boolean, label: "Producto de Testeo", input_html: { class: "form-checkbox mr-2" }, label_html: { class: "form-label" } %>
    </div>

    <div>
      <%= form.input :inafecto, as: :boolean, label: "Inafecto (IGV 0%)", input_html: { class: "form-checkbox mr-2" }, label_html: { class: "form-label" } %>
    </div>

    <div>
      <%= form.input :status, label: "Estado", collection: Product.translated_statuses.map { |translation, k, _v| [translation.titleize, k] }, input_html: { class: "form-input" }, label_html: { class: "form-label" } %>
    </div>

    <!-- Tags Section with Tom Select -->
    <div>
      <%= form.label :tag_ids, "Etiquetas", class: "form-label" %>
        <select data-controller="select"
              data-select-model-value="Tag"
              data-select-multi-select-value="true"
              data-select-placeholder-value="Selecciona una o más etiquetas"
              name="product[tag_ids][]" 
              id="product_tag_ids"
              multiple="multiple">
        <% Tag.translated_tag_types.each do |translation, tag_type, _| %>
          <optgroup label="<%= translation.titleize %>">
            <% Tag.where(tag_type: tag_type).each do |tag| %>
              <option value="<%= tag.id %>" <%= 'selected' if @product.tags.include?(tag) %>><%= tag.name %></option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
    </div>

  </div>

  <div class="flex items-center py-6 mt-10 space-x-4 border-t dark:border-slate-600">
    <%= form.button :submit, @product.new_record? ? "Crear Producto" : "Grabar Producto", class: "btn btn-primary" %>
    <%= link_to "Cancelar", admin_products_path, class: "font-medium text-slate-600 hover:text-primary-600 text-sm px-2 py-2 dark:text-slate-400 dark:hover:text-primary-400" %>
  </div>
<% end %>