<%= render "shared/admin/nav", { header_title: "Productos - #{@current_warehouse&.name}" } do %>
  <%= render_select_warehouse_dropdown(current_user) %>
  <%= render "shared/admin/create_dropdown" %>
<% end %>

<div class="px-4 mb-16" data-controller="datatable" data-datatable-options-value="<%= @datatable_options %>">
  <div class="container p-2 mx-auto mt-6 bg-white border rounded-lg shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
    <table id="datatable-element" class="min-w-full bg-white dark:bg-slate-800">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Codigo</th>
          <th class="px-4 py-2 text-left">Imagen</th>
          <th class="px-4 py-2 text-left">Nombre</th>
          <th class="px-4 py-2 text-left">Precio</th>
          <th class="px-4 py-2 text-left">Precio Descontado</th>
          <th class="px-4 py-2 text-left">Stock</th>
          <th class="px-4 py-2 text-left">Estado</th>
          <th class="px-4 py-2 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td class="px-4 py-2"><%= product.custom_id %></td>
            <td class="flex items-center px-4 py-2 space-x-3">
              <%= image_tag product.smart_image(:thumb), alt: product.name, class: "rounded-full sm:w-10 w-14 sm:h-10 h-14" if product.media.present? %>
            </td>
            <td class="px-4 py-2"><%= product.name %></td>
            <td class="px-4 py-2"><%= number_to_currency(product.price, unit: 'S/') %></td>
            <td class="px-4 py-2"><%= product.discounted_price_cents ? number_to_currency(product.discounted_price, unit: 'S/') : 'N/A' %></td>
            <td class="px-4 py-2"><%= product.stock(@current_warehouse) %></td>
            <td class="px-4 py-2"><%= product.status %></td>

            <td class="px-4 py-2">
              <%= render "admin/products/actions", product: product %>
            </td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>