<%= render "shared/admin/nav", { header_title: "Productos - #{@current_warehouse&.name}" } do %>
  <%= render_select_warehouse_dropdown(current_user) %>
  <% if current_user.any_admin? %>
    <%= link_to "Aplicar Etiquetas en Lote", 
                bulk_tag_admin_products_path, 
                class: "inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700" %>
    <%= render "shared/admin/create_dropdown" %>
  <% end %>
<% end %>

<div class="px-4 mb-16" data-controller="datatable" data-datatable-options-value="<%= @datatable_options %>">
  <div class="container p-2 mx-auto mt-6 bg-white border rounded-lg shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
    <table id="datatable-element" class="min-w-full bg-white dark:bg-slate-800">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Codigo</th>
          <th class="px-4 py-2 text-left">Imagen</th>
          <th class="px-4 py-2 text-left">Nombre</th>
          <th class="px-4 py-2 text-left">Precio</th>
          <th class="px-4 py-2 text-left">Precio Descontado</th>
          <th class="px-4 py-2 text-left">Stock</th>
          <th class="px-4 py-2 text-left">Etiquetas</th>
          <th class="px-4 py-2 text-left">Estado</th>
          <th class="px-4 py-2 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td class="px-4 py-2"><%= product.custom_id %></td>
            <td class="flex items-center px-4 py-2 space-x-3">
              <%= image_tag product.smart_image(:thumb), alt: product.name, class: "rounded-full sm:w-10 w-14 sm:h-10 h-14" if product.media.present? %>
            </td>
            <td class="px-4 py-2"><%= product.name %></td>
            <td class="px-4 py-2"><%= format_currency(product.price) %></td>
            <td class="px-4 py-2"><%= product.discounted_price_cents ? format_currency(product.discounted_price) : 'N/A' %></td>
            <td class="px-4 py-2"><%= product.stock(@current_warehouse) %></td>
            <td class="px-4 py-2">
              <div class="flex flex-wrap gap-1">
                <% product.tags.each do |tag| %>
                  <span class="px-2 py-1 text-xs font-medium text-gray-600 bg-gray-100 rounded-full">
                    <%= tag.name %>
                  </span>
                <% end %>
              </div>
            </td>
            <td class="px-4 py-2"><%= product.status %></td>

            <td class="px-4 py-2">
              <%= render "admin/products/actions", product: product, warehouse: @current_warehouse, show_admin_actions: current_user.any_admin? %>
              <div data-controller="object-actions-dropdown" class="relative">
                <button data-action="click->object-actions-dropdown#toggle click@window->object-actions-dropdown#hide"
                  class="p-2 rounded-lg focus:ring-4 focus:ring-primary-50 dark:focus:ring-slate-600/50">
                  <!-- Inline SVG for the cog icon -->
                  <svg class="w-6 h-6 stroke-current text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 2.75L9 4a7.05 7.05 0 00-2.5 1.5L5.5 4.5A9 9 0 002 6.5l1.5 1a7.05 7.05 0 00-1.5 2.5L2.75 9.75 2 12l.75 2.25L4 13.5a7.05 7.05 0 001.5 2.5l-1 1.5a9 9 0 002.25 1.25l1-1.5a7.05 7.05 0 002.5 1.5l.75 1.75L12 22l2.25-.75L13.5 20a7.05 7.05 0 002.5-1.5l1.5 1a9 9 0 002.25-1.25l-1-1.5a7.05 7.05 0 001.5-2.5l1.75-.75L22 12l-.75-2.25L20 10.5a7.05 7.05 0 00-1.5-2.5l1-1.5A9 9 0 0017.5 4.5l-1 1.5A7.05 7.05 0 0014 4l-.75-1.25L12 2l-2.25.75zM12 15a3 3 0 110-6 3 3 0 010 6z" />
                  </svg>
                </button>
                <ul data-object-actions-dropdown-target="menu"
                  class="hidden absolute right-0 top-10 bg-white rounded-lg shadow-xl dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 w-[200px] z-50 py-2">
                  <li>
                    <%= link_to admin_inventory_kardex_path(product_id: product.id, warehouse_id: @current_warehouse.id), class: "px-4 py-[.4rem] flex items-center space-x-3" do %>
                      <!-- Inline SVG for the pencil icon -->
                      <svg class="w-5 h-5 stroke-current text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h18v18H3V3zm2 2v14h14V5H5zm7 2h2v8h-2V7zm-4 4h2v4H8v-4zm8 0h2v4h-2v-4z" />
                      </svg>
                      <span>Ver Kardex</span>
                    <% end %>
                  </li>
                  <% if current_user.any_admin? %>
                    <li>
                      <%= link_to edit_admin_product_path(product), class: "px-4 py-[.4rem] flex items-center space-x-3" do %>
                        <!-- Inline SVG for the pencil icon -->
                        <svg class="w-5 h-5 stroke-current text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17L4 20l3-7 7-7 4 4-7 7z" />
                        </svg>
                        <span>Editar Producto</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to admin_product_path(product), data: { turbo_method: :delete, turbo_confirm: 'Está seguro?' }, class: "px-4 py-[.4rem] flex items-center space-x-3" do %>
                        <!-- Inline SVG for the trash icon -->
                        <svg class="w-5 h-5 stroke-current text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6M1 3h22l-1 1h-20l-1-1z" />
                        </svg>
                        <span>Eliminar Producto</span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>