<%= render "shared/admin/nav", { header_title: "Series de Factura" } do %>
  <%= link_to 'Nueva Serie', new_admin_invoice_series_path, class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
<% end %>

 <div class="px-4 mb-16" data-controller="datatable" data-datatable-options-value="<%= @datatable_options %>">
  <div class="container p-2 mx-auto mt-6 bg-white border rounded-lg shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
    <table id="datatable-element" class="min-w-full bg-white dark:bg-slate-800">
      <thead>
        <tr>
          <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">Razón Social</th>
          <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">Prefijo</th>
          <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">Siguiente Número</th>
          <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">Estado</th>
          <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">Acciones</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @invoice_series.each do |series| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap"><%= series.invoicer.name %></td>
            <td class="px-6 py-4 whitespace-nowrap"><%= series.prefix %></td>
            <td class="px-6 py-4 whitespace-nowrap"><%= series.next_number %></td>
            <td class="px-6 py-4 whitespace-nowrap"><%= series.status %></td>
            <td class="px-6 py-4 whitespace-nowrap">
              <%= link_to 'Ver', admin_invoice_series_path(series), class: 'text-indigo-600 hover:text-indigo-900' %>
              <%= link_to 'Editar', edit_admin_invoice_series_path(series), class: 'ml-2 text-indigo-600 hover:text-indigo-900' %>
              <%= link_to 'Eliminar', admin_invoice_series_path(series), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'ml-2 text-red-600 hover:text-red-900' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>