<%= render "shared/admin/nav", { header_title: "Tablero de Ventas" } do %>
  <%= render "select_location_dropdown" %>
<% end %>

<%= turbo_frame_tag "sales_dashboard" do %>
  <div data-controller="dashboards--auto-refresh" data-dashboards--auto-refresh-interval-value="100000">

  <%= turbo_stream_from "sales_dashboard" %>

    <div class="px-4">
      <div class="container grid grid-cols-12 gap-4 mx-auto mt-4 mb-24 md:gap-6">

        <%= render "sales_count" %>
        <%= render "sales_amount" %>
        <%= render "sales_amount_this_month" %>
        <%= render "sales_average_per_day_this_month" %>

        <%= render "separator" %>

        <%= render "commission_targets_graph" %>

        <div
          class="col-span-12 p-6 bg-white border rounded-lg shadow-sm lg:col-span-5 md:col-span-6 border-slate-200 dark:bg-slate-800 dark:border-none">
          <div class="flex items-center justify-between">
            <h4 class="m-0 text-xl font-medium tracking-tight text-slate-800 dark:text-slate-300">Notificaciones</h4>
            <%= link_to "Ver Todas", "#", class: "font-medium text-sm hover:text-primary-600 text-slate-600 dark:text-slate-400 dark:hover:text-primary-300" %>
          </div>

          <%= turbo_stream_from "notifications" %>
          <%= render "sales_dashboard_notification_feed" %>
        </div>

        <div
          class="col-span-12 p-6 bg-white border rounded-lg shadow-sm lg:col-span-6 md:cols-span-12 border-slate-200 dark:bg-slate-800 dark:border-none">
          <div class="flex items-center justify-between mb-4">
            <h4 class="text-lg font-medium">Open deals</h4>
            <% if respond_to?(:admin_projects_path) %>
              <%= link_to "View all", admin_projects_path, class: "font-medium text-sm hover:text-primary-600 text-slate-600 dark:text-slate-400 dark:hover:text-primary-300" %>
            <% else %>
              <%= link_to "Ver Todas", "#", class: "font-medium text-sm hover:text-primary-600 text-slate-600 dark:text-slate-400 dark:hover:text-primary-300" %>
            <% end %>
          </div>

          <div class="space-y-4 divide-y dark:divide-slate-600">
          <% [
              {
                img: {id: "85", variant: "women"},
                name: "Jackie Hacky",
                tag: "Contacted",
                tag_classes: "bg-yellow-100 text-yellow-800 font-medium px-2 py-1 leading-tight text-xs inline-block sm:mb-0 rounded md:ml-9 dark:bg-yellow-300/10 dark:text-yellow-500/80",
                address: "123 Easy Street",
                close_date: "Jan 18, 2024"
              },
              {
                img: {id: "83", variant: "women"},
                name: "Jane Myers",
                tag: "Contacted",
                tag_classes: "bg-yellow-100 text-yellow-800 font-medium px-2 py-1 leading-tight text-xs inline-block sm:mb-0 rounded md:ml-9 dark:bg-yellow-300/10 dark:text-yellow-500/80",
                address: "456 Sunny Estate",
                close_date: "Jan 18, 2024"
              },
              {
                img: {id: "32", variant: "men"},
                name: "Josh Scandal",
                tag: "Qualified Lead",
                tag_classes: "bg-green-100 text-green-800 font-medium px-2 py-1 leading-tight text-xs inline-block sm:mb-0 rounded md:ml-9 dark:bg-green-500/20 dark:text-green-300/80",
                address: "563 Saucy Ave",
                close_date: "Jan 18, 2024"
              }
            ].each do | deal | %>
              <%= link_to "#", class: "p-2 flex flex-wrap items-center group" do %>
                <div class="flex justify-between w-full md:flex-1 md:block">
                  <div class="flex items-center space-x-3">
                    <%= image_tag demo_avatar_url(id: deal[:img][:id], variant: deal[:img][:variant]), alt: deal[:name], class: "md:w-6 w-8 md:h-6 h-8 rounded-full" %>
                    <p class="flex-1 font-medium hover:text-primary-600"><%= deal[:name] %></p>
                  </div>
                  <div class="text-left">
                    <span class="<%= deal[:tag_classes] %>"><%= deal[:tag] %></span>
                  </div>
                </div>

                <div
                  class="w-full pt-3 text-left duration-200 md:text-right md:group-hover:-translate-x-1 md:group-hover:transition md:group-hover:transform md:w-auto md:pt-0">
                  <p class="font-medium text-slate-600 dark:text-slate-300"><%= deal[:address] %></p>
                  <p class="text-xs text-slate-500 dark:text-slate-400">Closing date: <%= deal[:close_date] %></p>
                </div>
                <div
                  class="hidden transition ease-in-out opacity-0 group-hover:opacity-100 group-hover:transform group-hover:translate-x-1 md:block">
                  <%= icon "chevron-right", classes: "w-4 h-4 stroke-current text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-300" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div
          class="col-span-12 p-6 bg-white border rounded-lg shadow-sm lg:col-span-6 md:cols-span-12 border-slate-200 dark:bg-slate-800 dark:border-none">
          <div class="flex items-center justify-between mb-4">
            <h4 class="m-0 text-xl font-medium tracking-tight text-slate-800 dark:text-slate-300">Recent projects</h4>
            <%= link_to "View all", "#", class: "font-medium text-sm hover:text-primary-600 text-slate-600 dark:text-slate-400 dark:hover:text-primary-300" %>
          </div>

          <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2">
          <% [
            {
              title: "Enhanced User Authentication System",
              description: "Lorem ipsum dolor sit amet consectetur, adipisicing
                  elit. Aliquam consectetur harum, consequatur nemo numquam repudiandae, aut similique dolores",
            },
            {
              title: "Automated Data Migration Tool",
              description: "Lorem ipsum dolor sit amet consectetur, adipisicing
                  elit. Aliquam consectetur harum, consequatur nemo numquam repudiandae, aut similique dolores ipsum",
            },
            {
              title: "Real-time Data Visualization Dashboard",
              description: "Lorem ipsum dolor sit amet consectetur, adipisicing
                  elit. Aliquam consectetur harum, consequatur nemo numquam repudiandae, aut similique dolores ipsum",
            },
            {
              title: "Intelligent Chatbot for Customer Support",
              description: "Lorem ipsum dolor sit amet consectetur, adipisicing
                  elit. Aliquam consectetur harum, consequatur nemo numquam repudiandae, aut similique dolores ipsum"
            }
          ].each do |project| %>
            <li>
              <%= link_to (defined?(admin_project_path) ? admin_project_path : "#"), class: "border border-slate-300/80 hover:border-slate-400/70 rounded-lg shadow-sm p-4 focus:ring-4 focus:ring-primary-200/50 bg-white block group dark:bg-slate-700 dark:border-none dark:focus:ring-slate-500/20" do %>
                <p class="mb-2 font-medium dark:group-hover:text-primary-300 group-hover:text-primary-600 line-clamp-1"><%= project[:title] %></p>
                <p class="text-sm line-clamp-2 text-slate-500"><%= project[:description] %></p>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= audio_tag "notification_feed_alert.mp3", id: "notification-sound", preload: 'auto' %>
