<% if Rails.env == "development" %>

  <div class="mt-[200px] mx-5 container-fluid">
    <p>
      current_user:
      <%= current_user.inspect %>
    </p>
    <p>
      current_user_roles:
      <%= current_user.roles.pluck(:name).to_s %>
    </p>
    <p>
      current_location:
      <%= @current_location.try(:name) %>
    </p>
    <p>
      current_warehouse:
      <%= @current_warehouse.try(:name) %>
    </p>
    <p>
      current_cashier:
      <%= @current_cashier.try(:name) %>
    </p>
    <p>
      current_cashier_shift id:
      <%= @current_cashier_shift.try(:id) %>
      current_cashier_shift status:
      <%= @current_cashier_shift.try(:status) %>
    </p>
    <br>
      session_data:</br>
      language: <%= session[:locale] %></br>
      user_id_for_otp: <%= session[:user_id_for_otp] %></br>
    </p>
    <p>
      request_data:
      <%= "#{request.controller_class} / #{params}" %>
    </p>

  </div>

<% end %>