<li>
  <%= nav_link_to "Tablero", send("admin_dashboard_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Venta POS", send("pos_admin_orders_path"), class: "nav-link bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-600 whitespace-nowrap w-full text-center" %>
</li>
<li data-controller="dropdown" class="relative">
  <button data-action="click->dropdown#toggle" data-dropdown-target="trigger" class="nav-link">
    Admin
  </button>
  <ul data-dropdown-target="menu" class="absolute z-20 hidden w-48 mt-2 bg-white rounded shadow-md">
    <li>
      <%= nav_link_to "Usuarios", send("admin_users_path"), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
    </li>
    <li>
      <%= nav_link_to "Clientes", send("admin_customers_path"), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
    </li>
    <li>
      <%= nav_link_to "Métodos de Pago", send("admin_payment_methods_path"), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
    </li>
  </ul>
</li>
<li data-controller="dropdown" class="relative">
  <button data-action="click->dropdown#toggle" data-dropdown-target="trigger" class="nav-link">
    Ventas
  </button>
  <ul data-dropdown-target="menu" class="absolute z-20 hidden w-48 mt-2 bg-white rounded shadow-md">
    <li>
      <%= nav_link_to "Venta POS", send("pos_admin_orders_path"), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
    </li>
    <li>
      <%= nav_link_to "Ventas", send("admin_orders_path"), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
    </li>
    <li>
      <%= nav_link_to "Comisiones", send("pos_admin_orders_path"), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
    </li>
  </ul>
</li>
<li data-controller="dropdown" class="relative">
  <button data-action="click->dropdown#toggle" data-dropdown-target="trigger" class="nav-link">
    Inventario
  </button>
  <ul data-dropdown-target="menu" class="absolute z-20 hidden w-48 mt-2 bg-white rounded shadow-md">
    <li>
      <%= nav_link_to "Inventario", send("admin_products_path"), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
    </li>
    <li>
      <%= nav_link_to "Transferencias de Stocks", send("admin_stock_transfers_path"), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
    </li>
  </ul>
</li>
<li>
  <%= nav_link_to "Productos", send("admin_products_path"), class: "nav-link" %>
</li>
<li data-controller="dropdown" class="relative">
  <button data-action="click->dropdown#toggle" data-dropdown-target="trigger" class="nav-link">
    Others
  </button>
  <ul data-dropdown-target="menu" class="absolute z-20 hidden w-48 mt-2 bg-white rounded shadow-md">
    <% @railsui_demo_links.each do |link| %>
      <li>
        <%= nav_link_to link.to_s, send("admin_#{link.to_s}_path"), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
      </li>
    <% end %>


    <li>
      <%= nav_link_to "Pricing", send("pricing_path"), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
    </li>
    <li>
      <%= nav_link_to "About", send("about_path"), class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
    </li>
    
  </ul>
</li>