<div class="px-4 mb-16" data-controller="datatable" data-datatable-options-value="<%= @datatable_options %>">
  <div class="container overflow-x-auto p-2 mx-auto mt-6 bg-white rounded-lg border shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
    <table id="datatable-element" class="min-w-full bg-white dark:bg-slate-800">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Código</th>
          <th class="px-4 py-2 text-left">Usuario</th>
          <th class="px-4 py-2 text-left">Origen</th>
          <th class="px-4 py-2 text-left">Destino</th>
          <th class="px-4 py-2 text-left">Total Productos</th>
          <th class="px-4 py-2 text-left">Fecha</th>
          <th class="px-4 py-2 text-left">Transportista</th>
          <th class="px-4 py-2 text-left">Estado</th>
          <th class="px-4 py-2 text-left">Etapa</th>
          <% if $global_settings[:show_sunat_guia_for_stock_transfers] %>
            <th class="px-4 py-2 text-left">Guía</th>
          <% end %>
          <th class="px-4 py-2 text-left">Entrega</th>
          <th class="px-4 py-2 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @stock_transfers.each do |stock_transfer| %>
          <tr>
            <td class="px-4 py-2"><%= stock_transfer.custom_id %></td>
            <td class="px-4 py-2"><%= stock_transfer.user&.name %></td>
            <td class="px-4 py-2">
              <% if stock_transfer.vendor_id.present? %>
                <span class="inline-flex items-center">
                  Proveedor: <%= stock_transfer.vendor&.name %>
                </span>
              <% else %>
                <%= stock_transfer.origin_warehouse&.name || "Inventario Inicial" %>
              <% end %>
            </td>
            <td class="px-4 py-2">
              <% if stock_transfer.customer_user_id.present? %>
                <span class="inline-flex items-center">
                  Cliente: <%= stock_transfer.customer_user&.name %>
                </span>
              <% else %>
                <%= stock_transfer.destination_warehouse&.name %>
              <% end %>
            </td>
            <td class="px-4 py-2"><%= stock_transfer.total_products %></td>
            <td class="px-4 py-2"><%= friendly_date(current_user, stock_transfer.transfer_date) %></td>
            <td class="px-4 py-2"><%= stock_transfer.transportista&.display_name %></td>
            <td class="px-4 py-2"><%= stock_transfer.translated_status %></td>
            <td class="px-4 py-2"><%= translated_stage(stock_transfer.stage) %></td>
            <% if $global_settings[:show_sunat_guia_for_stock_transfers] %>
              <td class="px-4 py-2">
                <%= stock_transfer_guia_link(stock_transfer) || stock_transfer.guia %>
              </td>
            <% end %>
            <td>
              <% if stock_transfer.pending? %>
                <%= determine_action_if_pending(stock_transfer) %>
              <% elsif stock_transfer.in_transit? %>
                <%= determine_action_if_in_transit(stock_transfer) %>
              <% end %>
            </td>
            <td class="px-4 py-2">
              <%= render partial: "admin/stock_transfers/actions", locals: { stock_transfer: stock_transfer, default_object_options_array: @default_object_options_array } %>
              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>